{
    "root": true,
    "extends": [
        "airbnb-base",
        "plugin:import/errors"
    ],
    "globals": {},
    "parser": "babel-eslint",
    "env": {
        "node": true
    },
    "rules": {
        "indent": [2, 4],
        "no-console": 0
    }
}
